cs287hw1/env_cs287hw1/*
cs287hw1/cs287-hw1-code/data/*
cs287hw1/cs287-hw1-code/envs/__pycache__
cs287hw1/cs287-hw1-code/part1/__pycache__
cs287hw1/cs287-hw1-code/utils/__pycache__
cs287hw1/cs287-hw1-code/__pycache__